@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
}


.overlay {
  backdrop-filter: blur(16px);
  border-radius: 4px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.3);
}

.date {
  font-size: 18px;
}

.clock-table {
  font-size: 45px;
}